/* common styles */
    body {
	background-color: #D3E3E8;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 16px;	
    color: #9C4206;
        
    }     
    a:link, a:visited {
    color: #DDDEED;          
                  
      }

      #tooltip {
        width: 300px;
        height: auto;
        padding: 10px;
        background-color: #F0F7C3;
/*          background: orange;*/
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
      }

    #tooltip.hidden {
            display: none;
    }



    .label {
      font: 18px "Trebuchet MS", Helvetica, sans-serif;
      text-anchor: middle;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }

td {
    padding-right: 50px;
    padding-left: 30px;      
}


/* main page */

    h3 {

        padding-left: 30px;

    }



    .section {
      padding: 1em 0;
    }
    .header {
      background: linear-gradient(to bottom, #302e39 0%, #5f5b71 100%); 
      color: #ff944d;
      padding: 1em 0 2em;
    }

      



/* circle packs */

    .label,
    .node--root
        {
          pointer-events: none;
        }

    .node {
      cursor: pointer;
    }

    .node:hover {
      stroke: #000;
      stroke-width: 1.5px;
    }

    .node--leaf:hover {
      stroke: green;
      stroke-width: 1.5px;
    }

    .node--leaf {
      fill: #eefdf2;
    }


/* treemap */

    .children rect.parent,
    .grandparent rect {
      cursor: pointer;
    }

    .children rect.parent {
      fill: #ffccff;
      fill-opacity: .5;
    }

    .grandparent text {
      font-weight: bold;
    }

    .grandparent rect {
      fill: orange;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    text {
      pointer-events: none;
    }

    rect {
      fill: none;
      stroke: #fff;
    }

    rect.parent,
    .grandparent rect {
      stroke-width: 2px;
    }

    rect.parent {
        pointer-events: none;
    }

    div.tooltip {   
        position: absolute;         
        text-align: left;         
        vertical-align: middle;        
        padding: 5px;               
        background: #fee5cd; 
        border: 0px;        
        border-radius: 6px;         
        pointer-events: none;   
        font-size: 16px;   /* not in circles */ 

    }


/* scatterplot */

    .point_pair {
        r: 15;
        fill: green;
        stroke: black;
        stroke-width: 3;
        opacity: .5;    
    }

    svg {
      display: block;
      margin: 0 auto;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #9C4206;
      shape-rendering: crispEdges;

    }
    .axis text {
        font-size: 18px;
        fill: #9C4206;
    }

    .point {
      stroke-width: 1;
      opacity: .5;
    }

      .blueText {
          color: #6971F4;
          font-weight: bold;
          font-size: 20px;
      }
      
      .redText {
          color: #E97174;          
          font-weight: bold;          
          font-size: 20px;          
      }